/* impostazioni generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.paddinggenerale {
  padding: 0 10%;
}
/* impostazioni header */
header{
  background-color: darkblue;
}
/* impostazioni barra di navigazione */
nav {
  padding-top: 20px;
  margin-bottom: 45px;
}
/* impostazioni colonne barra di navigazione */
nav::after{
  content: "";
  display: table;
  clear: both;
}
.barranav{
  float: left;
  height: 50px;
}
/* impostazione prima colonna barra di navigazione */
#logonav{
  width: 10%;
  margin-right: 2%;
  background-image: url(file:///C:/Users/dmafr/Downloads/fluentify-imgs/fluentify-logo.svg);
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
/* impostazioni seconda colonna barra di navigazione */
.contenitorelinknav {
  width: 50%;
}
.linknav {
  width: 100%;
  list-style-type: none;
}
.linknav::after{
  content: "";
  display: table;
  clear: both;
}
.linknav li {
  float: left;
  height: 50px;
  margin-right: 20px;
  line-height: 50px;
}
.linknav li a {
  font-size: 15px;
  color: white;
  text-decoration: none;
}
/* impostazioni terza colonna barra di navigazione */
.contenitorebuttonnav {
  width: 38%;
}
button {
  color: white;
  border-radius: 8px;
}
button:hover {
  cursor: pointer;
}
.button1 {
  height: 50px;
  width: 80px;
  border: solid 2px white;
  background-color: rgba(0, 0, 0, 0);
}
.button2 {
  height: 45px;
  width: 175px;
  background-color: green;
  border-color: green;
}
/* impostazioni contenitore titolo */
.contenitoretitolo{
  height: 385px;
  background-image: url(../img/fluentify-jumbo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 120% 50%;
  position: relative;
}
.bloccotitolo {
  width: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-70%);
}
h1 {
  font-size: 58px;
  color: white;
  margin-bottom: 40px;
}
.button3 {
  height: 50px;
  width: 250px;
  font-size: 20px;
  background-color: green;
  border-color: green;
}
/* impostazioni main */
/* impostazioni blocco prima riga main */
.bloccosezioni {
  height: 150px;
  background-color: lightgrey;
  margin-bottom: 20px;
  position: relative;
}
.bloccosezioni div {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.bloccosezioni h3 {
  font-size: 28px;
  text-align: center;
  margin-bottom: 12px;
}
.bloccosezioni p {
  text-align: center;
  color: grey;
  font-size: 22px;
}
/* impostazioni blocco seconda riga main */
.bloccosecondasez {
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.bloccosecondasez::after{
  content: "";
  display: table;
  clear: both;
}
/* impostazioni generali colonne secda riga */
.colonsecondsez {
  float: left;
  width: 32%;
  text-align: center;
  padding: 5px;
}
.colonsecondsez div {
  margin-bottom: 15px;
}
.imgsecsez {
  height: 150px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.colonsecondsez h2{
  color: green;
  font-size: 30px;
}
.bordosecsez{
  width: 20%;
  margin: 25px auto;
  border-bottom: solid 2px grey;
}
/* impostazioni  prima colonna della seconda riga del main */
.imgprima{
  background-image: url(file:///C:/Users/dmafr/Downloads/fluentify-imgs/fluentify-piano.svg);
}
/* impostazioni seconda colonna della seconda riga del main */
.secondacolsecsez {
  margin: 0 2%;
}
.imgseconda{
  background-image: url(file:///C:/Users/dmafr/Downloads/fluentify-imgs/fluentify-affiancamento.svg);
}
/* impostazioni terz colonna della seconda riga del main */
.imgterza{
  background-image: url(file:///C:/Users/dmafr/Downloads/fluentify-imgs/fluentify-monitora.svg);
}
/* impostazioni blocco terza riga main */
.bloccoterzasez {

}
.bloccoterzasez::after {
  content: "";
  display: table;
  clear: both;
}
/* impostazioni generali colonne terza riga */
.colonterzasez {
  float: left;
  width: 50%;
  border-top: solid 1px grey;
  padding: 30px;
  margin-bottom: 20px;
}
/* impostazioni prima colonna della terza riga del main */
.imgterzasez {
  height: 350px;
  background-image: url(file:///C:/Users/dmafr/Downloads/fluentify-imgs/fluentify-scopri.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
/* impostazioni seconda colonna della terza riga del main */
.bloccoseccolterzasez{
  width: 60%;
  margin-left: 10%;
}
.colonterzasez h2 {
  font-size: 25px;
  margin-bottom: 20px;
}
.colonterzasez p {
  margin-bottom: 20px;
}
/* impostazioni quarta riga del main */
