/* impostazioni generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.paddinggenerale {
  padding: 0 10%;
}
/* impostazioni header */
header{
  background-color: darkblue;
}
/* impostazioni barra di navigazione */
nav {
  padding-top: 20px;
  margin-bottom: 45px;
}
/* impostazioni colonne barra di navigazione */
nav::after{
  content: "";
  display: table;
  clear: both;
}
.barranav{
  float: left;
  height: 50px;
}
/* impostazione prima colonna barra di navigazione */
#logonav{
  width: 10%;
  margin-right: 2%;
  background-image: url(file:///C:/Users/dmafr/Downloads/fluentify-imgs/fluentify-logo.svg);
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
/* impostazioni seconda colonna barra di navigazione */
.contenitorelinknav {
  width: 50%;
}
.linknav {
  width: 100%;
  list-style-type: none;
}
.linknav::after{
  content: "";
  display: table;
  clear: both;
}
.linknav li {
  float: left;
  height: 50px;
  margin-right: 20px;
  line-height: 50px;
}
.linknav li a {
  font-size: 15px;
  color: white;
  text-decoration: none;
}
/* impostazioni terza colonna barra di navigazione */
.contenitorebuttonnav {
  width: 38%;
}
button {
  color: white;
  border-radius: 8px;
}
button:hover {
  cursor: pointer;
}
.button1 {
  height: 50px;
  width: 80px;
  border: solid 2px white;
  background-color: rgba(0, 0, 0, 0);
}
.button2 {
  height: 45px;
  width: 175px;
  background-color: green;
  border-color: green;
}
/* impostazioni contenitore titolo */
.contenitoretitolo{
  height: 385px;
  background-image: url(../img/fluentify-jumbo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 120% 50%;
  position: relative;
}
.bloccotitolo {
  width: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-70%);
}
h1 {
  font-size: 58px;
  color: white;
  margin-bottom: 40px;
}
.button3 {
  height: 50px;
  width: 250px;
  font-size: 20px;
  background-color: green;
  border-color: green;
}
/* impostazioni main */
/* impostazioni blocco prima riga main */
.bloccosezioni {
  height: 150px;
  background-color: lightgrey;
  position: relative;
}
.bloccosezioni div {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.bloccosezioni h3 {
  font-size: 28px;
  text-align: center;
  margin-bottom: 12px;
}
.bloccosezioni p {
  text-align: center;
  color: grey;
  font-size: 22px;
}
/* impostazioni blocco seconda riga main */
